<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final match score</title>
</head>
<body>
    <div>
        <p>{{winner_name}} win the match!</p>
    </div>
    <div>
        <table border="1">
            <thead>
            <tr>
                <th>Player</th>
                <th>Sets</th>
                <th>Games</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            {% for player, scores in score.items() %}
            <tr>
                <td>{{player}}</td> <!-- Имя игрока 1 -->
                <td>{{scores.sets}}</td> <!-- Текущий счет игрока 1 -->
                <td>{{scores.games}}</td> <!-- Текущий счет игрока 1 -->
                <td>{{scores.points}}</td> <!-- Текущий счет игрока 1 -->
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>